.facebook_event_to_gcal.gcal_link {
	margin-left: 10px;
	font-weight: bold;
	cursor: pointer;
	
	border: 1px solid #7C2C2C;
	background: #c6322a;
	color: #fff;
	padding: 3px;
}

.facebook_event_to_gcal.invalid-date {
	font-size: 75px;
	font-weight: bold;
	text-align: center;
}